@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Skylines Demo Web App</h1>
    <p>Where here to help you on your <a href="https://www.skylinesacademy.com/">Cloud Journey</a>.</p>
</div>
<a href="/" class="Header-branding" data-nc-element="branding" data-content-field="site-title">
    <img src="images/SkylinesAcademy_color.png" alt="Skylines Academy - Top Rated Cloud Training" class="Header-branding-logo">
</a>
