@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Skylines Demo Web App</h1>
    <p>Where here to help you on your <a href="https://www.skylinesacademy.com/">Cloud Journey</a>.</p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.skylinesacademy.com%2F&psig=AOvVaw2Zs1trZLYWX5PkuxwMT0xT&ust=1601300426768000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDQ4Iy7iewCFQAAAAAdAAAAABAD" alt="Skylines Phone"/>
</div>
