@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Skylines Demo Web App</h1>
    <p>Where here to help you on your <a href="https://www.skylinesacademy.com/">Cloud Journey</a>.</p>
</div>
<a href="/" class="Header-branding" data-nc-element="branding" data-content-field="site-title">
    <img src="//static1.squarespace.com/static/5af21c03e17ba3f52f6d007b/t/5e505c3c8ff9f5167f64d13b/1600963010690/?format=1500w" alt="Skylines Academy - Top Rated Cloud Training" class="Header-branding-logo">
</a>
