@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/2020-ahead-logo-final.png" alt="AHEAD Learn. Grow. Achieve">
    <p></p>
    <h1 class="display-4">AHEAD - Automation Hub</h1>
    <p></p>
    <p>
        AHEAD’s new <a href="https://www.thinkahead.com/resources/introducing-automation-hub/">Automation Hub</a> helps IT teams deliver services within their organization faster and more
        efficiently.  From helping developers to quickly develop, test, and release software, to providing diverse
        business units with essential IT services that enable operations, Automation Hub empowers teams.
    </p>
    <p></p>
    <img src="~/images/automation-hub.png" alt="Automation Hub">
</div>
