@page
@model PrivacyModel
@{
    ViewData["Title"] = "Automation Hub Samples";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some examples of how you can use Automation Hub to empower your business with their digital transformation.</p>
<p></p>
<a href="https://www.thinkahead.com/resources/eks-clusters-aws-demo/">Automation EKS Clusters on AWS</a>
<p></p>
<a href="https://www.thinkahead.com/resources/automation-hub-gcp-demo/">Stream line your Google Cloud operations</a>
<p></p>
<a href="https://www.thinkahead.com/resources/environment-on-demand-demo/">Simplify your developers workflow</a>

